<div class="card h-100 box-shadow mt-3 custom-card">

    <div class="img-container bg-light">
        <img src="{{product.imageUrl}}" alt="{{product.name}}">
    </div>

    <div class="card-body d-flex flex-column">
        <a routerLink="/shop/{{product.productId}}">
            <h6 style="font-size: 20px;" class="text-uppercase">{{product.name}}</h6>
        </a>
        <span class="mb-2">{{product.price | currency}}</span>
        <div class="btn-group mt-auto">
          <button *ngIf="!isAdmin(currentUser)" type="button" (click)="addItemToBasket()" class="btn btn-outline-secondary fa fa-shopping-cart mr-2"></button>
          <button *ngIf="isAdmin(currentUser)" type="button" class="btn btn-outline-secondary" routerLink="/shop/edit/{{product.productId}}">Edit</button>
        </div>
        </div>
  </div> 