<div class="container">
    <div class="row" *ngIf="product">
        <div class="col-6">
            <img src="{{product.imageUrl}}" alt="{{product.name}}" class="w-100" style="max-height: 500px; max-width: 400px;">
        </div>
        <div class="col-6 mt-5">
            <h2>{{product.name}}</h2>
            <p style="font-size: 2em;">{{product.price | currency}}</p>

            <div class="d-flex justify-content-start align-items-center">
                
                <button 
                    class="btn btn-outline-primary ms-4"
                    style="width: 100px; height: 40px;"
                    (click)="addItemToBasket()"
                >Add to Cart</button>
            </div>
            <div class="row mt-4">
                <h4>Description</h4>
                <p>{{product.description}}</p>
            </div>
            <div class="row mt-4">
                <h4>Stocks:</h4>
                <p>{{product.stockQuantity}}</p>
            </div>
        </div>
    </div>
    
</div>

