<div class="container">
    <div class="row">
        <section class="col-3">

            <h5 class="text-warning ml-3" style="font-size: 18px;">Sort</h5>
            <select class="custom-select mb-3" (change)="onSortSelected($event)">
                <option selected>Name Ascending</option>
                <option >Name Descending</option>
                <option>Price Ascending</option>
                <option>Price Descending</option>


            </select>


            <h5 class="text-warning ml-3 mt-2" style="font-size: 18px;">Category</h5>
            <ul class="list-group my-3">
              <li (click)="onCategoryAllSelected()" [class.active]="shopParams.category === undefined" class="list-group-item">All Categories</li>
              <li (click)="onCategorySelected('wallets')" [class.active]="shopParams.category === 'wallets'" class="list-group-item">Wallets</li>
              <li (click)="onCategorySelected('purses')" [class.active]="shopParams.category === 'purses'" class="list-group-item">Purses</li>
              <li (click)="onCategorySelected('accessories')" [class.active]="shopParams.category === 'accessories'" class="list-group-item">Accessories</li>
              <li (click)="onCategorySelected('belts')" [class.active]="shopParams.category === 'belts'" class="list-group-item">Belts</li>
            </ul>
            <h5 class="text-warning ml-3 mt-3" style="font-size: 18px;">Gender</h5>
            <ul class="list-group my-3">
              <li (click)="onGenderAllSelected()" [class.active]="shopParams.gender === undefined" class="list-group-item">All</li>
              <li (click)="onGenderSelected('male')" [class.active]="shopParams.gender === 'male'" class="list-group-item">Male</li>
              <li (click)="onGenderSelected('female')" [class.active]="shopParams.gender === 'female'" class="list-group-item">Female</li>
            </ul>

        </section>
        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center">
                <app-paging-header [pageNumber]="this.shopParams.pageNumber" 
                [pageSize]="this.shopParams.pageSize" [totalCount]="this.totalCount" *ngIf="totalCount>0"></app-paging-header>
                <div *ngIf="totalCount == 0">
                    <span><strong>There are no products in this category!</strong></span>
                </div>
                <div class="form-inline mt-3">
                   <input #search type="text" style="width: 300px;" class="form-control mr-2" placeholder="Search">
                   <button (click)="onSearch()" class="btn btn-outline-primary my-2">Search</button>
                   <button (click)="onReset()" class="btn btn-outline-secondary ml-2 my-2 ">Reset</button>
                </div>
            </div>
            
            <div class="row">
                <div class="col-4 mb-4" *ngFor="let p of products">
                    <app-product-item [product]="p"></app-product-item>
                </div>
              </div>

        </section>

        <div class="d-flex justify-content-center mt-auto mb-3">
            <button *ngIf="isAdmin(currentUser)" (click)="addProductOpen()" type="button" mat-raised-button color="primary">Add Product</button>
        </div>
        <div class="d-flex justify-content-center">
            <app-pager 
            [pageSize]="shopParams.pageSize" 
            [totalCount]="totalCount" 
            (pageChanged)="onPageChanged($event)">
        </app-pager>
        </div>
               

    </div>
</div>