<div style="text-align: center;" mat-dialog-title class="mt-5">
    <h1>{{isUpdate? "Update Admin":"Add Admin"}}</h1>
</div>
<form style="width: 500px;" class="mt-2" [formGroup]="adminForm" (ngSubmit)="onFormSubmit()">

    <div mat-dialog-content>
        <div class="row" *ngIf="!isUpdate">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput formControlName="username">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Surname</mat-label>
                <input matInput formControlName="surname">
            </mat-form-field>
        </div>
        <div class="row" *ngIf="!isUpdate">
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Contact</mat-label>
                <input matInput formControlName="contact">
            </mat-form-field>
        </div>

</div>
<div class="mat-dialog-actions">
    <button mat-raised-button color="primary" type="submit">{{data ? "Update":"Save"}}</button>
    <button mat-raised-button (click)="cancel()" type="button">Cancel</button>
</div>
</form>