.custom-delete-btn {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
  }
  
  .custom-delete-btn:hover {
    background: none;
  }
  
  .custom-delete-btn:focus {
    outline: none;
  }
  